body{
    background-color: white;

}

.title-food{
    height: 300px;
    align-self: center;
}

h1{
    color: black;
}

h2{
    color: red;
}

.discription-container{

}

.links{
    color: black;
}

.title{
    text-align: center;
}

.title-food{
    display: block;
    margin: auto;
}